#chart_container {
    margin: 1em 0em;
}

@media(max-width:767px){
    #chart_container {
        height: 40vh;
    }
}
@media(min-width:768px){
    #chart_container {
        height: 60vh;
    }    
}

.temperature_container {
    color:#0ff;
    background-color:#044;
    border-color:#0ff;
    border: 1px solid;
    margin: 0 0 .3em;
    border-radius: 4px;
    padding: .1em .1em;
    text-align: center;
    font-size: 2em;
    font-family: "Lucida Console", Monaco, monospace;
}

#temperature_value {
    white-space: pre;
}

#temperature_derivative_value {
    white-space: pre;
}

#btn_time_group {
    margin: 0 0 1em;
}

#footer_info {
    color: rgba(0, 255, 255, 0.4);
}

body {
    padding: 1em 1em;
    background-color: #011;
}

#info {
    font-size: .9em;
}